<h1>Create new comment</h1>

  <% if @comment.errors.any? %>
    <div>
      <% @comment.errors.full_messages.each do |message| %>
      <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

<%= form_with model: @comment, url: user_post_comments_path do |form| %>
<%= form.label :text%>
<%= form.text_field :text, placeholder: "commment" %>
<%= form.submit "create comment" %>
<% end %>