<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div>
  <div>
    <div>
      <h2><%= @post.title%> </h2>
      <p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>  </p>
    </div>
  </div>
  <p><%= @post.text %> </p>
  <div>
    <% @post.comments.each do |comment| %>
      <p> <%= comment.user.name %> : <%= comment.text %> </p>
    <% end %>
  </div>
</div>
<button>
<%= link_to "create comment", new_user_post_comment_path(@user, @post) %>
</button>
<%= render 'likes/create' %>